{% extends 'AppBundle:Inicio:Head.html.twig' %}
{% block contenido %}
<section class="g-mt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 g-mb-0--lg">
                <!-- User Imagen -->
                <div class="u-block-hover g-pos-rel">
                    <figure>
                        <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="assets/img-temp/400x450/img5.jpg" alt="Image Description">
                    </figure>
                    <!-- User Info -->
                    <span class="g-pos-abs g-top-20 g-left-0">
                                <small class="d-block g-bg-blue g-color-white g-pa-5">Nombre</small>
                                <small class="d-block g-bg-black g-color-white g-pa-5">Almuno</small>
                            </span>
                    <!-- End User Info -->
                </div>
                <!-- User Image -->
            </div>
            <!-- End Profile Sidebar -->

            <!-- Profle Content -->
            <div class="col-lg-9">
                <!-- Nav tabs -->
                <ul class="nav nav-justified u-nav-v1-1 u-nav-blue g-brd-bottom--md g-brd-bottom-2 g-brd-blue g-mb-20" role="tablist" data-target="nav-1-1-default-hor-left-underline"
                    data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-blue g-mb-20">
                    <li class="nav-item">
                        <a class="nav-link g-py-10 active" data-toggle="tab" href="#nav-1-1-default-hor-left-underline--1" role="tab">Datos Personales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link g-py-10" data-toggle="tab" href="#nav-1-1-default-hor-left-underline--2" role="tab">Cambiar Contraseña</a>
                    </li>
                </ul>
                <!-- End Nav tabs -->

                <!-- Tab panes -->
                <div id="nav-1-1-default-hor-left-underline" class="tab-content g-mb-50 g-pb-100">
                    <!-- Edit Profile -->
                    <div class="tab-pane fade show active" id="nav-1-1-default-hor-left-underline--1" role="tabpanel" data-parent="#nav-1-1-default-hor-left-underline">
                        <ul class="list-unstyled g-mb-30">
                            <!-- DNI -->
                            <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                <div class="g-pr-10">
                                    <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">DNI</strong>
                                    <span class="align-top">49161075R</span>
                                </div>
                                <span class="editspan">
                                            <i class="icon-pencil g-color-gray-dark-v5 g-color-blue--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                                        </span>
                            </li>
                            <!-- End DNI -->
                            <!-- Nombre -->
                            <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                <div class="g-pr-10">
                                    <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Name</strong>
                                    <span class="align-top">Alberto</span>
                                </div>
                                <span class="editspan">
                                            <i class="icon-pencil g-color-gray-dark-v5 g-color-blue--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                                        </span>
                            </li>
                            <!-- End Nombre -->

                            <!-- Apellidos -->
                            <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                <div class="g-pr-10">
                                    <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Apellidos</strong>
                                    <span class="align-top">Trinidad Lobo</span>
                                </div>
                                <span class="editspan">
                                            <i class="icon-pencil g-color-gray-dark-v5 g-color-blue--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                                        </span>
                            </li>
                            <!-- End Apellidos -->

                            <!-- Email -->
                            <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                <div class="g-pr-10">
                                    <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Email</strong>
                                    <span class="align-top">dsfjmhsdjkf@sds.es</span>
                                </div>
                                <span class="editspan">
                                            <i class="icon-pencil g-color-gray-dark-v5 g-color-blue--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                                        </span>
                            </li>
                            <!-- End Email  -->

                            <!-- Telefono -->
                            <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                <div class="g-pr-10">
                                    <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Telefono</strong>
                                    <span class="align-top">65821478</span>
                                </div>
                                <span class="editspan">
                                            <i class="icon-pencil g-color-gray-dark-v5 g-color-blue--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                                        </span>
                            </li>
                            <!-- End Telefono -->

                            <!-- Titulaciones -->
                            <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                <div class="g-pr-10">
                                    <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Titulaciones</strong>
                                    <span class="align-top">DAW,ASIR</span>
                                </div>
                                <span>
                                            <i class="icon-pencil g-color-gray-dark-v5 g-color-blue--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                                        </span>
                            </li>
                            <!-- End Titulaciones -->

                            <!-- Curso -->
                            <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                <div class="g-pr-10">
                                    <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Curso</strong>
                                    <span class="align-top">2016/2017</span>
                                </div>
                                <span class="editspan">
                                            <i class="icon-pencil g-color-gray-dark-v5 g-color-blue--hover g-cursor-pointer g-pos-rel g-top-1"></i>
                                        </span>
                            </li>
                            <!-- End Curso -->
                        </ul>

                        <div class="text-sm-right">
                            <a class="btn u-btn-darkgray rounded-0 g-py-12 g-px-25 g-mr-10" href="#!">Cancelar</a>
                            <a class="btn u-btn-blue rounded-0 g-py-12 g-px-25" href="#!">Guardar</a>
                        </div>
                    </div>
                    <!-- End Edit Profile -->

                    <!-- Security Settings -->
                    <div class="tab-pane fade g-mb-40 g-pb-100" id="nav-1-1-default-hor-left-underline--2" role="tabpanel" data-parent="#nav-1-1-default-hor-left-underline">
                        <form>
                            <!-- Current Password -->
                            <div class="form-group row g-mb-25">
                                <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-right g-mb-10">Contraseña Actual</label>
                                <div class="col-sm-9">
                                    <div class="input-group g-brd-blue--focus">
                                        <input class="form-control form-control-md border-right-0 rounded-0 g-py-13 pr-0" placeholder="Contraseña Actual" type="password">
                                        <div class="input-group-append">
                                                    <span class="input-group-text g-bg-white g-color-gray-light-v1 rounded-0">
                                                        <i class="icon-lock"></i>
                                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Current Password -->

                            <!-- New Password -->
                            <div class="form-group row g-mb-25">
                                <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-right g-mb-10">Nueva Contraseña</label>
                                <div class="col-sm-9">
                                    <div class="input-group g-brd-blue--focus">
                                        <input class="form-control form-control-md border-right-0 rounded-0 g-py-13 pr-0" placeholder="Nueva Contraseña" type="password">
                                        <div class="input-group-append">
                                                    <span class="input-group-text g-bg-white g-color-gray-light-v1 rounded-0">
                                                        <i class="icon-lock"></i>
                                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End New Password -->

                            <!-- Verify Password -->
                            <div class="form-group row g-mb-25">
                                <label class="col-sm-3 col-form-label g-color-gray-dark-v2 g-font-weight-700 text-sm-right g-mb-10">Verificar Contraseña</label>
                                <div class="col-sm-9">
                                    <div class="input-group g-brd-blue--focus">
                                        <input class="form-control form-control-md border-right-0 rounded-0 g-py-13 pr-0" placeholder="Verificar Contraseña" type="password">
                                        <div class="input-group-append">
                                                    <span class="input-group-text g-bg-white g-color-gray-light-v1 rounded-0">
                                                        <i class="icon-lock"></i>
                                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Verify Password -->
                            <hr class="g-brd-gray-light-v4 g-my-25">

                            <div class="text-sm-right">
                                <a class="btn u-btn-darkgray rounded-0 g-py-12 g-px-25 g-mr-10" href="#!">Cancelar</a>
                                <a class="btn u-btn-blue rounded-0 g-py-12 g-px-25" href="#!">Guardar</a>
                            </div>
                        </form>
                    </div>
                    <!-- End Security Settings -->
                </div>
                <!-- End Tab panes -->
            </div>
            <!-- End Profle Content -->
        </div>
    </div>
</section>
{% endblock %}