<div id="contacto" class="u-bg-overlay g-bg-black-opacity-0_4--after g-color-white-opacity-0_8 g-bg-img-hero g-py-60" style="background-image: url(assets/img/my/img2.jpg);">
    <div class="container u-bg-overlay__inner g-mb-20">
        <div class="container">
            <div class="row">
                <!-- INFORMACION -->
                <div class="col-md-6">
                    <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                        <h2 class="u-heading-v2__title h6 text-uppercase mb-0">SANSEEMPLEA</h2>
                    </div>
                    <p>SANSEEMPLEA le facilitará el envío de ofertas a los estudiantes de la ETSI, la difusión de las
                        mismas será mucho más rápida y personalizada encontrando el perfil que necesita.</p>
                </div>

                <!-- Bloque direccion -->
                <div class="col-md-6">
                    <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                        <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Contacto</h2>
                    </div>

                    <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(../../../assets/img/maps/map2.png);">
                        <!-- Localizacion -->
                        <div class="d-flex g-mb-20">
                            <div class="g-mr-10">
                                        <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1">
                                            <i class="fa fa-map-marker"></i>
                                        </span>
                            </div>
                            <p class="mb-0">Calle del instituto,
                                <br> Huelva, 21004
                            </p>
                        </div>
                        <!-- FIN Localizacion -->

                        <!-- Telefonos -->
                        <div class="d-flex g-mb-20">
                            <div class="g-mr-10">
                                        <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1">
                                            <i class="fa fa-phone"></i>
                                        </span>
                            </div>
                            <p class="mb-0">telefono1
                                <br> telefono2
                            </p>
                        </div>
                        <!-- FIN Telefonos -->

                        <!-- Email y Pagina web -->
                        <div class="d-flex g-mb-20">
                            <div class="g-mr-10">
                                        <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1">
                                            <i class="fa fa-globe"></i>
                                        </span>
                            </div>
                            <p class="mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:info@htmlstream.com">correo del instituto</a>
                                <br>
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">web del instituto
                                </a>
                            </p>
                        </div>
                        <!-- FIN Email y Pagina web -->
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>