<section id="formulario" class="g-bg-gray-dark-v1 g-color-white">
    <div class="g-bg-my-gradient-opacity-v1">
        <h2 class="u-divider-center g-font-weight-700 g-font-size-40 g-font-size-70--md text-uppercase g-my-0">
            Formulario de oferta
        </h2>
    </div>
</section>

<!-- Bloque formulario-->
<section class="g-bg-white g-color-black g-py-50 g-flex-centered">
    <form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30 col-9">
        <div class="form-group g-mb-20">
            <label>Nombre de la empresa:</label>
            <div class="input-group g-brd-blue--focus">
                <div class="input-group-prepend">
                                <span class="input-group-text rounded-0 g-bg-white g-color-blue">
                                    <i class="icon-user"></i>
                                </span>
                </div>
                <input class="form-control form-control-md border-left-0 rounded-0 pl-0" type="text">
            </div>
        </div>
        <div class="form-group g-mb-20">
            <label>Email:</label>
            <div class="input-group g-brd-blue--focus">
                <div class="input-group-prepend">
                                <span class="input-group-text rounded-0 g-bg-white g-color-blue">
                                    <i class="icon-envelope"></i>
                                </span>
                </div>
                <input class="form-control form-control-md border-left-0 rounded-0 pl-0" type="email">
            </div>
        </div>
        <div class="form-group g-mb-20">
            <label>Telefono:</label>
            <div class="input-group g-brd-blue--focus">
                <div class="input-group-prepend">
                                <span class="input-group-text rounded-0 g-bg-white g-color-blue">
                                    <i class="icon-phone"></i>
                                </span>
                </div>
                <input class="form-control form-control-md border-left-0 rounded-0 pl-0" type="text">
            </div>
        </div>
        <div class="form-group g-mb-20">
            <label class="g-color-white">Titulaciones:</label>
            <div class="input-group g-brd-blue--focus">
                <div class="input-group-prepend">
                                <span class="input-group-text rounded-0 g-bg-white g-color-blue">
                                    <i class="icon-graduation"></i>
                                </span>
                </div>
                <select class="form-control form-control-md border-left-0 rounded-0 pl-0 js-example-basic-multiple"
                        name="Cursos[]" multiple="multiple">
                    <option value="DAW">Desarrollo de aplicaciones web</option>
                    <option value="DAW">Desarrollo de aplicaciones web</option>
                    <option value="DAW">Desarrollo de aplicaciones web</option>
                    <option value="DAW">Desarrollo de aplicaciones web</option>
                    <option value="DAW">Desarrollo de aplicaciones web</option>
                    <option value="DAW">Desarrollo de aplicaciones web</option>
                </select>
            </div>
        </div>
        <div class="form-group g-mb-20">
            <label>Tipo de Oferta:</label>
            <div class="input-group g-brd-blue--focus">
                <div class="btn-group justified-content">
                    <label class="u-check g-bg-white">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" checked=""
                               type="radio"/>
                        <span
                                class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-blue--checked rounded-0">Oferta Trabajo</span>
                    </label>
                    <label class="u-check g-bg-white">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" type="radio"/>
                        <span
                                class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-blue--checked g-brd-left-none--md rounded-0">Beca Formacion</span>
                    </label>
                    <label class="u-check g-bg-white">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" type="radio"/>
                        <span
                                class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-blue--checked g-brd-left-none--md rounded-0">Curso Formacion</span>
                    </label>
                    <label class="u-check g-bg-white">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" type="radio"/>
                        <span
                                class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-blue--checked g-brd-left-none--md rounded-0">Concurso</span>
                    </label>
                    <label class="u-check g-bg-white">
                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" type="radio"/>
                        <span
                                class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-blue--checked g-brd-left-none--md rounded-0">Otros</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group g-mb-20">
            <label>Descripción de la oferta:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                                <span class="input-group-text rounded-0 g-bg-white g-color-blue">
                                    <i class="icon-note"></i>
                                </span>
                </div>
                <textarea id="inputGroup2_3" class="form-control form-control-md u-textarea-expandable rounded-0"
                          rows="2"></textarea>
            </div>
        </div>
        <div class="form-group g-mb-20">
            <label>Enlaces de interes:</label>
            <div class="input-group g-brd-blue--focus">
                <div class="input-group-prepend">
                                <span class="input-group-text rounded-0 g-bg-white g-color-blue">
                                    <i class="icon-link"></i>
                                </span>
                </div>
                <input class="form-control form-control-md border-left-0 rounded-0 pl-0" type="text" placeholder="HTPP">
            </div>
        </div>
        <div class="form-group g-mb-20">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="g-recaptcha float-md-left"
                         data-sitekey="6LfztFcUAAAAACDUmehDAWqLc6vmA4HYMjL2-0bM"></div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="float-md-right">
                        <a href="#modal23" data-modal-target="#modal23" data-modal-effect="flash"
                           class="btn btn-md u-btn-3d g-bg-blue g-mr-10 g-mb-15 g-color-white">
                            <i class="icon-eye g-mr-5"></i>
                            Visualizar Oferta
                        </a>
                        <a class="btn btn-md u-btn-3d g-bg-blue g-mr-10 g-mb-15 g-color-white">
                            <i class="icon-paper-plane g-mr-5"></i>
                            Enviar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- FIN bloque formulario -->
</section>
<!--Ventana modal que se muestra al previsualizar -->
<div id="modal23" class="text-left g-max-width-600 g-bg-white g-overflow-y-auto g-pa-20" style="display: none;">
    <button type="button" class="close" onclick="Custombox.modal.close();">
        <i class="hs-icon hs-icon-close"></i>
    </button>
    <h3 class="g-mb-20">Titulo de la empresa</h3>
    <h4>Tipo de oferta</h4>
    <ul>
        <li>Destinatario1</li>
        <li>Destinatario2</li>
        <li>Destinatario3</li>
        <li>Destinatario4</li>
        <li>Destinatario5</li>
        <li>Destinatario6</li>
        <li>Destinatario7</li>
    </ul>
    <p>Descripcion de la oferta de empleo para los alumnos</p>
    <footer>
        <span>
            <i class="icon-link"></i>URL
        </span>
        <br/>
        <span>
            <i class="fa fa-phone"></i>telefono
        </span>
        <br/>
        <span>
            <i class="fa fa-globe"></i>Correo
        </span>
    </footer>
    <a class="btn btn-md u-btn-3d g-bg-blue g-mr-10 g-mb-15 g-color-white">
        <i class="icon-paper-plane g-mr-5"></i>
        Enviar
    </a>
</div>